body{
    font-family: Arial, Helvetica, sans-serif;
    background: #b5e4c1da;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    width: 300px;
    height: 300px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
    text-align: center;
    justify-content: center ;
    padding-top: 20px;
    padding-left : 20px;
    border-radius: 5px;
}
#text{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: none;
    width: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#submit{
    margin-top: 20px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 128, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
}